.d-block {
    display: block;
}

/* #region sound-btn */
#sound-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    border: 0;
    z-index: 20;

    img {
        width: 3rem;

        &:hover {
            scale: 1.1;
        }
    }
}
/* #endregion */

/* #region legal-btn */
#legal-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 12rem;
    height: 3rem;
    font-size: 1.3rem;
    font-family: "RAVIOLI", "sans-serif";
    border: 0;
    border-radius: 80.8rem;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(#ffa700, #ffa700),
            linear-gradient(to right, #006847, #ffffff, #ce1126);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        border: 3px solid transparent;
    }
}
/* #endregion */

/* #region btn-collection */
#btn-collection {
    position: absolute;
    background: rgb(128, 128, 128, 0.6);
    bottom: 0;
    height: 3.5rem;
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

    .all-view,
    .desktop-view {
        display: flex;
        align-items: center;
        color: white;
        gap: 0.5rem;
        img {
            height: 2.5rem;
        }
    }

    .mobile-view {
        display: none;
        align-items: center;
        color: white;
        gap: 0.3rem;
        img {
            height: 2.5rem;
        }
    }

    @media (max-width: 1000px) {
        .desktop-view {
            display: none;
        }
        .mobile-view {
            display: flex;
        }
    }

    @media (max-width: 480px) {
        font-size: 2.2rem;
        padding-right: 0.5rem;
        justify-content: space-between;
        .all-view,
        .mobile-view {
            img {
                height: 3rem;
            }
        }
    }

    @media (max-width: 380px) {
        font-size: 2rem;
        .all-view,
        .mobile-view {
            img {
                height: 2.5rem;
            }
        }
    }
}
/* #endregion */

/* #region legal */
#legal {
    background-image: url("assets/img/5_background/first_half_background.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 720px;
    height: 100%;
    max-height: 480px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    z-index: 100;

    &.d-flex {
        display: flex;
    }

    .close-btn {
        width: 2.2rem;
        height: 2.2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: #a0220a;
        text-align: center;
        border-radius: 50%;
        color: lightgrey;
        font-size: 1.5rem;
        border: 2px solid lightgrey;
        cursor: pointer;

        &:hover {
            background: rgb(233, 5, 5);
        }
    }

    .legal-notice {
        background: rgba(255, 255, 255, 0.9);
        width: 85%;
        height: 70%;
        padding: 1.5rem;
        overflow-y: auto;

        p {
            font-size: 1.2rem;
            font-family: "Bricolage Grotesque", sans-serif;
            color: black;
            margin-bottom: 1rem;
        }

        strong {
            display: block;
            margin-top: 0.8rem;
        }
    }
}
/* #endregion */

/* #region mobile-btn */
#mobile-btn {
    position: absolute;
    bottom: 1.1rem;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    box-sizing: border-box;

    @media (max-width: 1000px) {
        display: flex;
        z-index: 2;
    }

    #run-key-panel,
    #jump-throw-key-panel,
    #fullscreen-btn {
        display: flex;
        align-items: center;
        flex: 1;
    }

    #run-key-panel {
        justify-content: flex-start;
        gap: 1rem;
    }
    #jump-throw-key-panel {
        justify-content: flex-end;
        gap: 1rem;
    }

    #fullscreen-btn {
        justify-content: center;
        background: transparent;
        border: none;
        z-index: 1;
        outline: none;

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            filter: drop-shadow(2px 2px 4px black);
        }

        &:active {
            scale: 0.95;
        }
    }

    #left-btn,
    #right-btn,
    #jump-btn,
    #throw-btn {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(255, 255, 255, 0.5);
        outline: none;
        touch-action: manipulation;

        img {
            width: 100%;
            height: 100%;
            opacity: 0.7;
        }

        &:active {
            scale: 0.95;
            background: rgba(255, 255, 255, 0.2);
        }
    }
}
/* #endregion */
